.nav-column {
    height: 80%;
}

.content {
    height: 80%;
}

.add-border {
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

li.image {
    width: 251px;
    padding-bottom: 10px;
    position: relative;
    list-style-type: none;
    float: right;

    // margin:0 5px 0 0;
    //margin-left: -26px;
}

.image-text {
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
}

.grayed-out {
    opacity: 0.75;
}


.image-text span { 
   color: white; 
   font: 12px/22px Sans-Serif; 
   letter-spacing: 0px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 2px; 
}

.image-text span.spacer {
    padding: 0 2px;
}
